name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint:
    runs-on: ubuntu-latest

    if: ${{ github.repository_owner == 'turtton' && !contains(github.event.head_commit.message, '[CI-SKIP]') }}

    steps:
      - uses: actions/checkout@v3
      - name: Lint check
        uses: musichin/ktlint-check@v2
        with:
          annotate: true
          experimental: true

  build:

    runs-on: ubuntu-latest
    
    if: ${{ github.repository_owner == 'turtton' && !contains(github.event.head_commit.message, '[CI-SKIP]') }}

    steps:
    - uses: actions/checkout@v3
    - name: set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Gradle Wrapper Validation
      uses: gradle/wrapper-validation-action@v1

    - name: Build with gradle
      uses: gradle/gradle-build-action@v2
      with:
        arguments: build
