name: Run AndroidTest

on:
  issue_comment:
    types:
      - created

jobs:
  react:
    if: ${{ github.repository_owner == 'turtton' }}
    runs-on: ubuntu-latest
    steps:
      - name: React comment
        uses: xt0rted/slash-command-action@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          command: androidTest
          reaction: "true"
          reaction-type: "rocket"

  android_test:
    needs: react
    strategy:
      matrix:
        sdk-version: [ 24, 33 ]
    runs-on: macos-10.15
    steps:
      - name: Get upstream branch
        uses: xt0rted/pull-request-comment-branch@v1
        id: upstreambranch

      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          ref: ${{ steps.upstreambranch.outputs.head_ref }}

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle

      - name: Install Android SDK
        uses: malinskiy/action-android/install-sdk@release/0.1.3

      - name: Check android test
        uses: malinskiy/action-android/emulator-run-cmd@release/0.1.3
        with:
          cmd: ./gradlew connectedCheck --stacktrace
          api: ${{ matrix.sdk-version }}
          tag: default
          abi: x86

      - name: Save logcat output
        uses: actions/upload-artifact@master
        if: failure()
        with:
          name: logcat
          path: artifacts/logcat.log


  result:
    runs-on: ubuntu-latest
    needs: android_test
    if: always()
    steps:
      - name: Send result message
        uses: actions/github-script@v6
        env:
          MESSAGE: AndroidTest was ${{ jobs.check.result }}. See [log](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }})
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: process.env.MESSAGE
            })


