name: Check code

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  check:
    runs-on: ubuntu-latest

    if: ${{ github.repository_owner == 'turtton' && !contains(github.event.head_commit.message, 'chore') }}

    steps:
      - uses: actions/checkout@v3

      - name: Lint check
        uses: musichin/ktlint-check@v2
        with:
          annotate: true
          experimental: true

      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle

      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1

      - name: Pre test
        uses: gradle/gradle-build-action@v2
        with:
          arguments: testDebugUnitTest

      - name: Check android test
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          script: ./gradlew check --stacktrace

      - name: Generate report
        uses: actions/upload-artifact@v3
        with:
          name: report
          path: app/build/reports/jacocoCombined/debug

      - name: Download report
        uses: actions/download-artifact@v3
        with:
          name: report
          path: app/build/reports/jacocoCombined/debug

      - name: Upload Report
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: "app/build/reports/jacocoCombined/debug/jacoco.xml"