name: Check code

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  check:
    runs-on: ubuntu-latest

    if: ${{ github.repository_owner == 'turtton' && !contains(fromJson('["[CI-SKIP]", "chore"]'), github.event.head_commit.message) }}

    steps:
      - uses: actions/checkout@v3

      - name: Lint check
        uses: musichin/ktlint-check@v2
        with:
          annotate: true
          experimental: true

      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle

      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1

      - name: Check and test code
        uses: gradle/gradle-build-action@v2
        with:
          arguments: check

      - name: Generate report
        uses: actions/upload-artifact@v2
        with:
          name: report
          path: app/build/reports/kover

      - name: Download report
        uses: actions/download-artifact@v2
        with:
          name: report
          path: app/build/reports/kover

      - name: Upload Report
        uses: codecov/codecov-action@v2
        with:
          files: "app/build/reports/kover/report.xml"