name: Check code

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'README.md'
      - 'docs/**'
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/**/*.md'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - 'README.md'
      - 'docs/**'
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/**/*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  get-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Get ktlint version
        id: ktlint
        run: |
          # load versions.ktlint from gradle/libs.versions.toml
          V=$(grep -i "ktlint = \"\(.*\)\"" gradle/libs.versions.toml | sed -e "s/ktlint = \"\(.*\)\"/\1/")
          echo "Detected version $V"
          echo "version=$V" >> "$GITHUB_OUTPUT"
    outputs:
      version: ${{ steps.ktlint.outputs.version }}

  ktlint:
    runs-on: ubuntu-latest
    needs: [ get-version ]
    if: ${{ !cancelled() && !failure() && !contains(github.event.head_commit.message, '[CI-SKIP]') }}
    permissions:
      contents: read
      pull-requests: write
      checks: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set up JDK 21
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Cache ktlint
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/ktlint
          key: ktlint-${{ needs.get-version.outputs.version }}

      - name: Install ktlint
        run: |
          if [ ! -f ~/ktlint/ktlint ]; then
            mkdir -p ~/ktlint
            curl -sSL https://github.com/pinterest/ktlint/releases/download/${{ needs.get-version.outputs.version }}/ktlint -o ~/ktlint/ktlint
            chmod +x ~/ktlint/ktlint
          fi

      - name: Setup reviewdog
        uses: reviewdog/action-setup@fab6de28ae8bc2a032c9e655d990afa450edb995 # v1.3.2

      - name: Lint check with reviewdog
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          REPORTER="github-check"
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            REPORTER="github-pr-review"
          fi
          ~/ktlint/ktlint --reporter=checkstyle | reviewdog -f=checkstyle -reporter=$REPORTER -filter-mode=added -fail-level=any

  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: set up JDK 21
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - name: Check and Prepare report
        run: ./gradlew check :rootCoverageReport --stacktrace

      - name: Generate report
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: report
          path: build/reports

      - name: Download report
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: report
          path: build/reports

      - name: Upload Report
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: "build/reports/jacoco.xml"

      - name: Analize Dependencies
        uses: fossas/fossa-action@3ebcea1862c6ffbd5cf1b4d0bd6b3fe7bd6f2cac # v1.7.0
        with:
          api-key: ${{ secrets.FOSSA_TOKEN }}
