name: Run AndroidTest

on:
  issue_comment:
    types:
      - created

permissions:
  contents: read

jobs:
  react:
    if: ${{ github.repository_owner == 'turtton' && github.actor == 'turtton' }}
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: React comment
        uses: xt0rted/slash-command-action@bf51f8f5f4ea3d58abc7eca58f77104182b23e88 # v2.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          command: androidTest
          reaction: "true"
          reaction-type: "rocket"

  android_test:
    needs: react
    strategy:
      matrix:
        sdk-version: [ 24, 25, 26, 27, 28, 29, 30, 31 ]
    runs-on: macos-latest
    permissions:
      actions: write
      contents: read
    steps:
      - name: Get upstream branch
        uses: xt0rted/pull-request-comment-branch@e8b8daa837e8ea7331c0003c9c316a64c6d8b0b1 # v3.0.0
        id: upstreambranch

      - name: Notify pending status
        uses: hkusu/status-create-action@d8b475a6db14477e4f5ba9dec386226da7399e34 # v1.0.1
        with:
          sha: ${{ steps.upstreambranch.outputs.head_sha }}
          state: pending

      - name: Checkout repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ steps.upstreambranch.outputs.head_ref }}
          persist-credentials: false

      - name: Set up jdk
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle

      - name: Check android test
        uses: reactivecircus/android-emulator-runner@b530d96654c385303d652368551fb075bc2f0b6b # v2.35.0
        with:
          api-level: ${{ matrix.sdk-version }}
          target: google_apis
          script: ./gradlew connectedCheck --stacktrace

      - name: Notify pending status
        uses: hkusu/status-create-action@d8b475a6db14477e4f5ba9dec386226da7399e34 # v1.0.1
        with:
          sha: ${{ steps.upstreambranch.outputs.head_sha }}
          state: success

      - name: Notify pending status
        uses: hkusu/status-create-action@d8b475a6db14477e4f5ba9dec386226da7399e34 # v1.0.1
        if: failure()
        with:
          sha: ${{ steps.upstreambranch.outputs.head_sha }}
          state: failure

      - name: Save logcat output
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: failure()
        with:
          name: logcat
          path: artifacts/logcat.log

#  result:
#    runs-on: ubuntu-latest
#    needs: android_test
#    if: always()
#    steps:
#      - name: Send result message
#        uses: actions/github-script@v6
#        env:
#          MESSAGE: Finish AndroidTest Action. See [log](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }})
#        with:
#          github-token: ${{ secrets.GITHUB_TOKEN }}
#          script: |
#            github.rest.issues.createComment({
#              issue_number: context.issue.number,
#              owner: context.repo.owner,
#              repo: context.repo.repo,
#              body: process.env.MESSAGE
#            })
