name: Release apks

on:
  push:
    tags:
      - "v*"

permissions:
  contents: read

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    if: ${{ github.repository_owner == 'turtton' }}

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: set up JDK 17
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          cache-disabled: true

      - name: Build apk
        run: ./gradlew clean assembleRelease

      - name: Rename apks
        run: |
          cd app/build/outputs/apk/release
          ls | sed -n 's/\(.*\)-unsigned.apk/mv \0 \1.apk/p' | sh
          
      - name: Sign apk
        uses: ilharp/sign-android-release@13dd52242698526f951aa8bb8696204f6fea702a # v2.0.0
        id: sign_app
        with:
          releaseDir: app/build/outputs/apk/release
          signingKey: ${{ secrets.APK_SIGNING_KEY }}
          keyAlias: ${{ secrets.APK_SIGNING_ALIAS }}
          keyStorePassword: ${{ secrets.APK_KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.APK_KEY_PASSWORD }}
          buildToolsVersion: 33.0.0

      - name: Split signed files
        uses: winterjung/split@d5c148c702e3aacdf08a98e33407c5af75d71e1e # v2.1.1-rc1
        id: signed_files
        with:
          msg: ${{ steps.sign_app.outputs.signedFiles }}
          separator: ':'

      - name: Upload to artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: Signed app bundle
          path: |
            ${{ steps.signed_files.outputs._0 }}
            ${{ steps.signed_files.outputs._1 }}
            ${{ steps.signed_files.outputs._2 }}
            ${{ steps.signed_files.outputs._3 }}
            ${{ steps.signed_files.outputs._4 }}

      - name: Create Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          body: '[<img src="https://fdroid.gitlab.io/artwork/badge/get-it-on.png"alt="Get it on F-Droid"height="80">](https://f-droid.org/packages/net.turtton.ytalarm)'
          draft: true
          files: |
            ${{ steps.signed_files.outputs._0 }}
            ${{ steps.signed_files.outputs._1 }}
            ${{ steps.signed_files.outputs._2 }}
            ${{ steps.signed_files.outputs._3 }}
            ${{ steps.signed_files.outputs._4 }}
