name: Release apks

on:
  push:
    tags:
      - "v*"

permissions:
  contents: read

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    if: ${{ github.repository_owner == 'turtton' }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: set up JDK 17
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup gradle
        uses: gradle/actions/setup-gradle@0723195856401067f7a2779048b490ace7a47d7c # v5.0.2
        with:
          cache-disabled: true

      - name: Build apk
        run: ./gradlew clean assembleRelease

      - name: Rename apks
        run: |
          cd app/build/outputs/apk/release
          ls | sed -n 's/\(.*\)-unsigned.apk/mv \0 \1.apk/p' | sh

      - name: Get buildTools version
        id: buildTools
        run: |
          V=$(grep -i "compileSdk = \"\(.*\)\"" gradle/libs.versions.toml | sed -e "s/compileSdk = \"\(.*\)\"/\1.0.0/")
          echo "Detected version $V"
          echo "version=$V" >> "$GITHUB_OUTPUT"

      - name: Sign apk
        uses: ilharp/sign-android-release@13dd52242698526f951aa8bb8696204f6fea702a # v2.0.0
        id: sign_app
        with:
          releaseDir: app/build/outputs/apk/release
          signingKey: ${{ secrets.APK_SIGNING_KEY }}
          keyAlias: ${{ secrets.APK_SIGNING_ALIAS }}
          keyStorePassword: ${{ secrets.APK_KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.APK_KEY_PASSWORD }}
          buildToolsVersion: ${{ steps.buildTools.outputs.version }}

      - name: Split signed files
        uses: winterjung/split@d5c148c702e3aacdf08a98e33407c5af75d71e1e # v2.1.1-rc1
        id: signed_files
        with:
          msg: ${{ steps.sign_app.outputs.signedFiles }}
          separator: ':'

      - name: Upload to artifact
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: Signed app bundle
          path: |
            ${{ steps.signed_files.outputs._0 }}
            ${{ steps.signed_files.outputs._1 }}
            ${{ steps.signed_files.outputs._2 }}
            ${{ steps.signed_files.outputs._3 }}
            ${{ steps.signed_files.outputs._4 }}

      - name: Create Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          body: '[<img src="https://fdroid.gitlab.io/artwork/badge/get-it-on.png"alt="Get it on F-Droid"height="80">](https://f-droid.org/packages/net.turtton.ytalarm)'
          draft: true
          files: |
            ${{ steps.signed_files.outputs._0 }}
            ${{ steps.signed_files.outputs._1 }}
            ${{ steps.signed_files.outputs._2 }}
            ${{ steps.signed_files.outputs._3 }}
            ${{ steps.signed_files.outputs._4 }}
